
body{
    margin: auto;
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(97,148,129,1) 31%, rgba(0,212,255,1) 100%);

  }
.App{
    display: flex;
    justify-content: center;
    align-items: center;
}